/* Blog */
.main-blog{
    text-align: center;
    background: $color-bg-contact;
}
.main-blog__box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2.5rem;
    text-align: left;
    @include desde(medium){
        grid-template-columns: repeat(2,1fr);
    }
    @include desde (large){
        grid-template-columns: repeat(3,1fr);
    }
}
.main-blog__post{
    background: $color-bg;
    // box-shadow: -1px 4px 21px -6px rgba(0,0,0,0.94);
    .content__blog{
        padding: 0 1rem $element-margin;
    }
    h2{
        padding: 0 $element-margin;
    }
    span{
        padding: 0 $element-margin;
        margin: 0 0 $element-margin 0;
        display: block;
    }
}