/* Contact */
.contact{
    background: $color-bg-contact;
    text-align: left;
}
.contact__content{
    margin-bottom: 2rem;
    .contact__title{
        padding-bottom: 1.5rem;
    }
    .contact_content{
        padding:0;
    }
    .contact__item{
        margin-bottom: 1rem;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.contact__form{
    .form{
        display: flex;
        flex-direction: column;
        input{
            padding:1rem 0 1rem 1rem;
            margin-bottom: 2rem;
        }
        .button{
            padding: 1rem;
            color: $color-bg;
            background: $color-fg-bold;
        }
        textarea{
            padding:0 0 0 1rem;
            margin-bottom: 2rem;
        }
        .button{
            width: 30%;
        }
    }
}