// -----------------------------------------------------------------------------
// Header.
// -----------------------------------------------------------------------------
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    // background: $color-bg;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $z-index-fixed;
}
.header__logo{
   color: #fff;
}
.logo{
     height: 2rem;
}