/* Projects */
.proyects{
    text-align: center;
}
.proyects__content{
    text-align: center;
    margin: 0 auto 2rem auto;
}
.gallery{
    @include desde (medium){
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    @include desde (large){
        grid-template-columns: repeat(3,1fr);
    }
    &__box{
        cursor: pointer;
        &:hover{
            filter: grayscale(100%);
        }
    }

}